<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PY Chatbot - Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/chat">Chat</a>
            <a href="/unstructured">Unstructured</a>
    </nav>
    </header>
    
    <div class="menu-container">
        <h1>PY Chatbot App Menu</h1>
        <div class="menu-buttons">
            <a href="/chat"><button>Chatbot</button></a>
            <a href="/unstructured"><button>Unstructured</button></a>
        </div>
    </div>

    <script></script>
</body>
</html>